@model Cinema
@{
ViewData["title"] = "create Cinema";
}


<div class="card">  
    <div class="card-header">  
        <h4>Create Cinema</h4>  
    </div>  
    <div class="card-body">  
        <div asp-validation-summary="ModelOnly"></div>  
        <form asp-action="Create">  
            <div class="form-group">  
                <label asp-for="Logo" class="label-control"></label>  
                <input asp-for="Logo" class="form-control" />  
                <span asp-validation-for="Logo" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Name" class="label-control"></label>  
                <input asp-for="Name" class="form-control" />  
                <span asp-validation-for="Name" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Description" class="label-control"></label>  
                <textarea asp-for="Description" class="form-control"></textarea>  
                <span asp-validation-for="Description" class="text-danger"></span>  
            </div>  
            <div>  
                <a class = "btn btn-outline-secondary" asp-action  = "Index"> show all</a>
                <button type="submit" class="btn btn-sm btn-primary rounded-0 float-right">Submit</button>  
            </div>  
        </form>  
    </div>  
</div>  